[Desktop Entry]
Type=Application
Name=Omacharts
Comment=Market charts
Exec=omacharts
Icon=com.jorgemanrubia.Omacharts
Terminal=false
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=com.jorgemanrubia.Omacharts
